ul li span {
    color: blue;
}


ul>li:nth-child(2)>ul>li:nth-child(2) {

    width: 100px;
    height: 100px;
    background-color: red;
}

ul>li:nth-child(3)>ul li:nth-child(3) span,
ul>li:nth-child(1)>ul li:nth-child(1) span {
    color: red;
}

ul>li>ul>li:nth-child(even) span {
    font-weight: bold;
}